@font-face {
    font-family: 'Kidstar-Regular';
    src: url('../fonts/FontsFree-Net-Kidstar.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Kidstar-Regular';
}

.bg-dark {
    background-color: #6F58C9 !important;
}

.profile-container {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 20px;
    margin-right: 10%;
}

#admin-title {
    text-align: center;
    margin-top: 2rem;
}

#search-bar {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.card {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.br {
    border-radius: .5rem;
}

#action-button {
    border-radius: .5rem;
}

#action-button-2 {
    border-radius: .5rem;
}

#addCardButton {
    border-radius: .5rem;
}

#separatorTitle {
    text-align: center;
    margin-top: 1rem;
}


/* #populate2 {
    display: none;
} */