* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BBDBD1;
}

#drtext {
    font-size: 2.5rem;
    color: rgb(107, 47, 4);
    font-style: oblique;
}

.mt-8 {
    margin-top: 4rem !important;
}

.mb-8 {
    margin-bottom: 4rem !important;
}

.card {
    background-color: #B6B8D6 !important;
    border-radius: 1rem !important;
}

.card-title {
    color: white !important;
}

.booking-label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}