* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #BBDBD1;
}

#drtext {
    font-size: 2rem;
}

.mt-8 {
    margin-top: 4rem !important;
}

.mb-8 {
    margin-bottom: 4rem !important;
}

.card {
    background-color: #B6B8D6 !important;
    border-radius: 1rem !important;
}

.card-title {
    color: white !important;
}

.booking-label {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;
}

.btn-primary {
    color: black;
    background-color: #BDEDE0 !important;
    border-color: #BBDBD1;
}

.btn-primary:hover {
    color: #000;
    background-color: #BBDBD1 !important;
    border-color: #BBDBD1 !important;
}