@font-face {
    font-family: 'Kidstar-Regular';
    src: url('../fonts/FontsFree-Net-Kidstar.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/pexels-pok-rie-1655166.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

h1,
p {
    color: white;
}

.navbar-brand {
    font-family: 'Kidstar-Regular';
}

.bg-dark {
    background-color: #6F58C9 !important;
}

.container-fluid {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    border-radius: .5rem !important;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.315) !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #B6B8D6 !important;
}

.btn-primary {
    color: #fff;
    background-color: #6F58C9 !important;
    border-color: #7E78D2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #7E78D2 !important;
    border-color: #B6B8D6 !important;
}

.btn-secondary {
    color: #000;
    background-color: #BDEDE0 !important;
    border-color: #BBDBD1;
}

.btn-secondary:hover {
    color: #000;
    background-color: #BBDBD1 !important;
    border-color: #BBDBD1 !important;
}

#loginbutton {
    text-decoration: none;
    text-align: center;
    color: white;
}

#signupbutton {
    text-decoration: none;
    text-align: center;
}


/* secret */

#secret {
    /* source: https://www.w3docs.com/snippets/css/how-to-align-the-content-of-a-div-to-the-bottom.html */
    position: fixed;
    bottom: 0;
    left: 0;
    /*  */
    /* source: https://stackoverflow.com/questions/13990629/html-css-invisible-button */
    background: transparent;
    border: none !important;
    /*  */
    font-size: 0;
    width: 5rem;
    height: 4rem;
}

@media screen and (max-width: 700px) {
    #secret {
        position: relative;
    }
}