/* .login-form h1 {
    color: maroon;
}

.login-form p {
    font-size: 2rem;
    color: midnightblue
} */


/* .login-info {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 20px 20px;
    height: 50%;
    *display: inline-block;*
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    background-color: slategrey;
    color: white;
} */


/*
.container {
    text-align: center;
}




span .passwrd {
    float: left;
    padding-top: 16px;
} */

.mt-10 {
    margin-top: 6rem !important;
}

.mb-10 {
    margin-bottom: 6rem !important;
}

.card {
    background-color: #6F58C9 !important;
    border-radius: 1rem !important;
}

.card-title {
    color: white !important;
}

.btn-primary {
    color: #000;
    background-color: #BDEDE0 !important;
    border-color: #BBDBD1;
}

.btn-primary:hover {
    color: #000;
    background-color: #BBDBD1 !important;
    border-color: #BBDBD1 !important;
}