
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
    color: white;
    background-color: rgb(68, 20, 11);
  }
  
  .navbar ul {
    list-style: none;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: 1rem;
  }
  
  .navbar h2 {
    font-family: 'Passions Conflict', cursive;
    font-size: 2.25rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
  }
  
  .navbar ul li a:hover {
    border-bottom: 2px solid white;
  }

.login-form {
    text-align: center;
}

.login-form h1 {
    color:maroon;
}

.login-form p {
    font-size: 2rem;
    color:midnightblue
}

.login-info {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 20px 20px;
    height: 50%;
    /**display: inline-block;**/
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    background-color:slategrey;
    color: white;
}

.container {
    text-align: center;
}

span .passwrd{
    float: left;
    padding-top: 16px;
}

