@font-face {
    font-family: 'Kidstar-Regular';
    src: url('../fonts/FontsFree-Net-Kidstar.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-family: 'Kidstar-Regular';
}


/* Code derived from https://www.w3schools.com/howto/howto_js_full_page_tabs.asp, some code was modified */


/* Set height of body and the document to 100% */

body,
html {
    height: 100%;
    margin: 0;
    /* font-family: Arial; */
}


/* Style tab links */

.profile-menu {
    margin-top: 1rem;
    text-align: center;
    background-color: #999;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.profile-menu:hover {
    background-color: #777;
}


/* Style the tab content (and add height:100% for full page content) */

.profile-content {
    display: none;
    padding: 100px 20px;
    height: 100%;
}


/* END */


/* Our own CSS */

.br {
    border-radius: .5rem;
}

h1 {
    margin-top: .5rem;
}

.bg-dark {
    background-color: #6F58C9 !important;
}

.mb-custom {
    margin-bottom: 15rem;
}

.card {
    background-color: #B6B8D6 !important;
    border-radius: 1rem !important;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.315) !important;
}

.profile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.profile-form h1 {
    text-align: center;
}

.profile-pic-div {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 15rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

.top-main-profile {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.profile {
    width: 100%;
    box-sizing: border-box;
    display: block;
    text-align: center;
}

.profile-label {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form-control {
    background-color: #dffff5;
}

.profile-info {
    margin-bottom: 1rem;
}

.btn-primary {
    color: #fff;
    background-color: #7E78D2!important;
    border-color: #7E78D2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #B6B8D6 !important;
    border-color: #dcdefa !important;
}

.btn-success {
    color: #fff;
    /*background-color: #BDEDE0 !important;
    border-color: #BBDBD1;*/
}

.btn-success:hover {
    color: #fff;
    background-color: #BBDBD1 !important;
    border-color: #BBDBD1 !important;
}

#updatedMessage {
    color: red;
    text-align: center;
    font-size: 1.5rem;
}

#emailExist {
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 15rem;
}

#samePassword {
    color: red;
}


/* Code derived from https://www.youtube.com/watch?v=MBaw_6cPmAw, modified for logout */

.logout-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 1rem;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.logout-modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.logout-header {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

#logout-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.logout-body {
    padding: 1rem;
}

#logout-message {
    margin-bottom: 1rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(112, 112, 112, 0.315);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.logoutbtn-group {
    display: flex;
    justify-content: space-evenly;
}


/*  */


/* derived from https://stackoverflow.com/questions/39710969/css-variable-font-size-depending-on-text-length */

@media (max-width: 300px) {
    .profile-menu {
        font-size: 7.5px;
    }
}

@media (min-width: 301px) and (max-width: 575px) {
    .profile-menu {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .profile-menu {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .myContainer {
        font-size: 20px;
    }
}