/* code derived from https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_speed
modified to git within needs of application */

body {
    /* https://giphy.com/gifs/matrix-awesome-gifs-gif-quEsMOrr3hmQ8 */
    background: url("../images/matrix.gif");
}

h1 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 50 50;
}

#left {
    grid-column: 1;
}

#right {
    display: grid;
    align-items: center;
    grid-column: 2;
}

.animation {
    width: 3rem;
    height: 1rem;
    background-color: gray;
    position: relative;
    animation: bullet 5s infinite;
    border-radius: 0 1rem 1rem 0;
}

.linear {
    animation-timing-function: linear;
}

.ease {
    animation-timing-function: ease;
}

.ease-in {
    animation-timing-function: ease-in;
}

.ease-out {
    animation-timing-function: ease-out;
}

.ease-in-out {
    animation-timing-function: ease-in-out;
}

@keyframes bullet {
    from {
        left: 2vw;
    }
    to {
        left: 30vw;
    }
}

img {
    width: 100%;
    height: auto;
}